__pycache__
*.py[cod]
*$py.class

**/cmake-build-debug
main.cpp

# Visual Studio Code # 
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history

# Jetbrains #
**/.idea

# Mac OS X Finder #
.DS_Store

# Rust #
target
Cargo.lock
input
test

input/